/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$standart_opacity_hover: 0.8;
$standart_opacity_active: 0.3;
$standart_opacity_focus: 0.8;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desctop: 1440px;

:root {
  --text-basic-color: #444444;
  --text-secondary-color: #000000;
  --text-title-color: #222222;
  --text-light-color: #ffffff;

  --basic-background-color: #68b738;
  --basic-background: rgba(104, 183, 56, 0.85);
  --secondary-background: #f2f2f2;

  --icon-color: #666666;

  --button-basic: #68b738;
  --button-secondary: #f2f2f2;
}
