/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

:root {
  --text-basic-color: #444444;
  --text-secondary-color: #000000;
  --text-title-color: #222222;
  --text-light-color: #ffffff;

  --basic-background: rgba(104, 183, 56, 0.85);
  --secondary-background: #f2f2f2;

  --button-basic: #68b738;
  --button-secondary: #f2f2f2;

  --width-mobile: 320px;
  --width-tablet: 768px;
  --width-desctop: 1440px;
}
