.contacts {
  position: relative;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  z-index: 1;

  @media (min-width: $width-tablet) {
    padding: 60px 70px;
    background-color: #f2f2f2;
  }

  @media (min-width: $width-desctop) {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 110px;
    padding: 61px 78px 60px 80px;
    gap: 87px;
    max-width: 1960px;
  }
}

.contacts__invite {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 1.3;
    max-width: 120px;
  }

  @media (min-width: $width-desctop) {
    max-width: 163px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 1.42;
  margin-left: 16px;

  @media (min-width: $width-tablet) {
    line-height: 1.25;
    max-width: 160px;
    text-align: right;
  }

  @media (min-width: $width-desctop) {
    margin: 0;
    text-align: left;
  }
}

.contacts__images {
  display: block;
  width: 100%;
  object-fit: cover;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}
