.contacts__invite {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}
