.form__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-secondary-color, #000000);
  text-align: center;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $width-tablet) {
    font-size: 24px;
    line-height: 1.33;
    max-width: 632px;
    margin: auto auto 24px;
  }

  @media (min-width: $width-desctop) {
    max-width: 750px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    gap: 0;
    max-width: 752px;
    margin: auto;
  }
}

.form__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.48;
  padding: 13px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    width: 60%;
  }

  @media (min-width: $width-desctop) {
    width: 76%;
  }
}

.form__button {
  width: 100%;
  padding: 13px 26px;
  font-size: 20px;
  line-height: 1.3;

  @media (min-width: $width-tablet) {
    width: 40%;
  }
}
