.gifts {
  //background-color: var(--basic-background, rgba(104, 183, 56, 0.85));
  background-image: url("../../images/gift-bg@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 43px 55px;
  position: relative;
}

@media (min-resolution: 2dppx) {
  .gifts {
    background-image: url("../../images/gift-bg@2x.png");
  }
}

.gifts::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--basic-background, rgba(104, 183, 56, 0.85));
  position: absolute;
  top: 0;
  left: 0;
}

.gifts::before {
  content: "";
  width: 100%;
  height: 80px;
  display: block;
  background-image: url("../../icons/stack.svg#icon_gift");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto 48px;
  position: relative;
  z-index: 1;
}

.gifts__text {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-light-color, #ffffff);
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}
