.hero {
  position: relative;
  color: var(--text-light-color, #ffffff);
  text-align: center;

  @media (min-width: $width-tablet) {
    background: none;
    color: var(--text-secondary-color, #000000);
    text-align: left;
    display: grid;
  }

  @media (min-width: $width-tablet) {
    position: static;
    display: block;
  }
}

.hero__wrapper {
  padding: 0;
  display: grid;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    padding: 27px 30px 0;
  }

  @media (min-width: $width-desctop) {
    padding: 64px 190px;
    grid-template-columns: 1fr 1fr;
    max-width: 1220px;
    --height-before: 695px;
  }
}

.hero__wrapper::before {
  content: "";
  display: block;
  background-image: linear-gradient(var(--basic-background, rgba(104, 183, 56, 0.85)) 100%, #ffffff 100%), url("../../images/m-hero-bg@1x.jpg"), linear-gradient(to right, #32521e 50%, #2e3e23 50%);
  background-size: auto 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--button-basic, #68b738);
  grid-area: 1 / 1 / 4;
  z-index: -1;
  left: 0;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--basic-background, rgba(104, 183, 56, 0.85)) 100%, #ffffff 100%), url("../../images/m-hero-bg@1x.jpg"), linear-gradient(to right, #32521e 50%, #2e3e23 50%);
  }

  @media (min-width: $width-tablet) {
    background: none;
    color: var(--text-secondary-color, #000000);
    text-align: left;
    position: static;
  }

  @media (min-width: $width-desctop) {
    background-image: linear-gradient(var(--basic-background, rgba(104, 183, 56, 0.85)) 100%, #68b738), url("../../images/hero-bg@1x.jpg"), linear-gradient(#2b421c 50%, #2b421c 50%);
    background-repeat: no-repeat;
    background-color: var(--button-basic, #68b738);
    background-size: auto;
    background-position: left bottom;
    top: 0;
    right: 0;
    left: auto;
    height: var(--height-before);
    position: absolute;
    width: 50%;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--basic-background, rgba(104, 183, 56, 0.85)) 100%, #68b738), url("../../images/hero-bg@2x.jpg"), linear-gradient(#2b421c 50%, #2b421c 50%);
    }
  }
}

.hero picture {
  display: contents;
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  padding-top: 27px;
  max-width: 396px;
  margin: 0 auto 25px;
  grid-area: 1 / 1;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    max-width: 480px;
    margin-bottom: 40px;
    margin-left: 90px;
    padding: 0;
    margin-top: 20px;
  }

  @media (min-width: $width-desctop) {
    margin-left: 0;
    margin-top: 32px;
    margin-bottom: 38px;
    grid-area: auto;
  }
}

.hero__text {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 10px 32px;
  position: relative;
  z-index: 2;
  grid-area: 2 / 1;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 90px;
  }

  @media (min-width: $width-desctop) {
    grid-column: 1;
    margin-left: 0;
    margin-bottom: 18px;
    grid-area: auto;
  }
}

.hero__image {
  position: relative;
  vertical-align: middle;
  margin: auto;
  grid-area: 3 / 1 / 5;

  @media (min-width: $width-tablet) {
    margin-top: -28px;
    order: 4;
    z-index: -1;
  }

  @media (min-width: $width-desctop) {
    margin-top: -51px;
    margin-left: -29%;
    grid-column: 2 / -1;
    grid-row: 1 / 12;
  }
}

.hero__button {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $width-tablet) {
    width: fit-content;
    font-size: 20px;
    padding: 14px 26px;
    margin-left: 90px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media (min-width: $width-desctop) {
    grid-column: 1;
    margin-left: 0;
    margin-top: 34px;
    height: fit-content;
    width: max-content;
    max-width: 420px;
    grid-area: auto;
  }
}
