.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 12px;
  z-index: 1;

  @media (min-width: $width-tablet) {
    padding: 11px 30px 12px;
    padding-top: 25px;
  }

  @media (min-width: $width-desctop) {
    padding-top: 53px;
    width: 1220px;
    margin: 0 auto;
  }
}

.main-header__logo-image:hover {
  opacity: $standart_opacity_hover;
}

.main-header__logo-image:active {
  opacity: $standart_opacity_active;
}

.main-header__logo-image:focus {
  opacity: $standart_opacity_focus;
}

.main-header__logo-text:hover {
  opacity: $standart_opacity_hover;
}

.main-header__logo-text:active {
  opacity: $standart_opacity_active;
}

.main-header__logo-text:focus {
  opacity: $standart_opacity_focus;
}

.main-header__logo-text {
  height: auto;
  margin: auto;

  @media (min-width: $width-tablet) {
    margin: 0;
  }

  @media (min-width: $width-desctop) {
    width: 118px;
  }
}
