.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list__item {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;

  @media (min-width: $width-tablet) {
    width: auto;
    border: none;
  }
}

.menu-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.menu-list__link {
  font-family: $secondary-font;
  color: var(--text-secondary-color, #000000);
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  @media (min-width: $width-tablet) {
    padding: 7px;
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $width-desctop) {
    color: #ffffff;
    font-size: 20px;
  }
}

.main-header--inner .menu-list__link {
  @media (min-width: $width-desctop) {
    color: var(--text-secondary-color, #000000);
  }
}
