.pagination {
  padding-top: 27px;
  padding-bottom: 22px;

  @media (min-width: $width-tablet) {
    border: 2px solid #f2f2f2;
    padding: 50px 37px 40px;
    display: flex;
    flex-direction: column;
    grid-row: 2 / -1;
  }

  @media (min-width: $width-desctop) {
    padding: 50px 37px 40px;
  }
}

.pagination__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 175px;
    margin: 0 auto;
  }

  @media (min-width: $width-desctop) {
    margin: 0;
  }
}

.pagination__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background:
    linear-gradient(#d3d3d3, #d3d3d3),
    linear-gradient(#d3d3d3, #d3d3d3);
  background-position: center;
  background-size: 100% 2px, 2px 100%;
  background-repeat: no-repeat;

  @media (min-width: $width-tablet) {
    width: 60px;
    height: 60px;
    margin: 0 auto 50px;
  }

  @media (min-width: $width-desctop) {
    margin: 0 auto 40px;
  }
}

.pagination__text {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: var(--text-basic-color, #444444);
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 1.12;
    max-width: 175px;
    margin: 22px auto auto;
  }

  @media (min-width: $width-desctop) {
    margin-top: 26px;
    margin-bottom: auto;
  }
}

.pagination__button {
  width: 100%;
  margin-top: 21px;
}
