.pagination__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.pagination__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--text-basic-color, #444444);
  margin: 0;
}

.pagination__button {
  width: 100%;
}
