.result {
  background-color: #eaeaea;
}

.result__list dt {
  font-size: 12px;
  line-height: 12px;
}

.result__list dd {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.result__price {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
