.subscribe {
  padding-top: 40px;
  padding-bottom: 45px;

  @media (min-width: $width-tablet) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @media (min-width: $width-desctop) {
    padding-top: 41px;
    padding-bottom: 106px;
  }
}

.subscribe__title {
  margin-bottom: 33px;

  @media (min-width: $width-tablet) {
    margin-bottom: 66px;
    margin-left: 40px;
  }

  @media (min-width: $width-desctop) {
    margin-bottom: 72px;
    margin-left: 0;
  }
}
