.title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 1;
  }
}

.title--decor {
  font-size: 24px;
  line-height: 1;
  position: relative;
  width: fit-content;
  background: #ffffff;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  @media (min-width: $width-tablet) {
    font-size: 32px;
    line-height: 1;
  }

  @media (min-width: $width-tablet) {
    font-size: 40px;
  }
}

.title--decor::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100vw;
  top: 14px;
  right: 0;
  z-index: -1;
  background: var(--basic-background-color, #68b738);
  box-shadow: 100vw 0 0 0 var(--basic-background-color, #68b738);

  @media (min-width: $width-tablet) {
    top: 19px;
  }

  @media (min-width: $width-desctop) {
    top: 16px;
  }
}
