.toggle {
  border: none;
  background-color: transparent;
  padding: 0;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#menu_open");
}

.main-nav--open .toggle::before {
  background-image: url("../../icons/stack.svg#menu_close");
}
