.toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-top: 3px;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#menu_open");
}
